.navbar{
    background-color: #fff;
}
.quem-somos{
    background-color: #EFEFEF;
}
.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: #e6e6e6;
}
.bg-footer{
    background-color: #efefef;
    padding-bottom: 5px;
}